In [2]:
import pandas as pd
import os
import requests

In [10]:
data_2018 = pd.read_csv("JC-201809-citibike-tripdata.csv")
data_2018.head(1)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,284,2018-09-01 01:48:22.0320,2018-09-01 01:53:06.9130,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,26303,Subscriber,1984,1

In [8]:
data_2019 = pd.read_csv("JC-201909-citibike-tripdata.csv")
data_2019.head(1)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,145,2019-09-01 00:00:37.6920,2019-09-01 00:03:03.0100,3640,Journal Square,40.73367,-74.0625,3206,Hilltop,40.731169,-74.057574,29303,Subscriber,1991,1

In [11]:
data_2020 = pd.read_csv("JC-202009-citibike-tripdata.csv")
data_2020.head(1)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,222,2020-09-01 00:15:58.6470,2020-09-01 00:19:40.8750,3186,Grove St PATH,40.719586,-74.043117,3276,Marin Light Rail,40.714584,-74.042817,45656,Subscriber,1992,1

In [16]:
data_2021 = pd.read_csv("JC-202109-citibike-tripdata.csv")
#data_2021